<%- include("partials/header") -%>

    <h1>Home</h1>
    <p> <%= randomText %> </p>
    <% postOnBlog.forEach(function(post){ %>
       <h1> <%=  post.blogTitle %> </h1>
       <p> <%= post.blogBody.substr(0,100) + " ..."; %> <a href="<%="/posts/" + post.blogTitle %>"> Read More</a> </p>

    <% }); %>

<%- include("partials/footer") -%>
